# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Database
db.sqlite3

# Django
local_settings.py
*.log

# Media and Static Files
media/
!media/.gitkeep
staticfiles/

# System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/
